# David's .gitignore

# ignore emacs temp files
*~

# ignore downloaded pods; will have to "pod install" if you want to build.
Pods/

# ignore user settings
isreveR.xcworkspace/xcuserdata/

.DS_Store

.firebase/
